
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

main.container {
    margin-top: 5rem
}

header.heading {
    height: 5rem;
    color: white;
    display: block;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1
}

header.heading section {
    display: flex;
    height: 5rem
}

header.heading img {
    height: 100%
}

header.heading .exercise-label {
    margin: auto;
    margin-left: 2rem
}

header.heading .exercise-title, header.heading .exercise-label a {
    font-weight: bold
}

header.heading .exercise-label a {
    color: white
}

header.heading .exercise-label a:hover {
    color: #606c76
}

/*.answer i.empty*/
.answer .empty {
    color: #f45866
}

.answer .short {
    color: #419d78
}

.answer .filled {
    color: #419d78
}

dl.answer dt {
    font-weight: bold
}

div.field, div.actions {
    margin-bottom: 10px
}

#notice {
    color: green
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square
}

label {
    display: block
}

header.dashboard .container {
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 2rem
}

header.dashboard .container h1 {
    letter-spacing: 1.1rem
}

div.dashboard {
    margin-top: 2rem
}

.answering {
    border-color: #9b4dca;
    background-color: #9b4dca
}

.managing {
    border-color: #e0a458;
    background-color: #e0a458
}

.results {
    border-color: #419d78;
    background-color: #419d78
}

header {
    background-color: #9b4dca
}

header.other {
    background-color: #b5446e
}

header.answering {
    background-color: #9b4dca
}

header.managing {
    background-color: #e0a458
}

header.results {
    background-color: #419d78
}

table.records td:last-child {
    text-align: right
}

.card {
    background-color: #eee;
    border-radius: .4rem;
    text-align: center;
    padding: 1rem
}

.card a.button {
    display: block
}

.card .title {
    margin: 1rem 0
}